$palette: (
  white: #fcfcfc,
  black: #27252d,
  blick-pink: #f7567c,
  cornsilk: #fffae3,
  midle-blue-gree: #99e1d9,
  independent: #5d576b,
  red: #f93160,
  yellow: #ffdf51,
  turquoise: #55e1d1,
  purple: #6d55b5,
  blue: #2c49ef,
);
